/* Layouts */
.entry-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2.3fr;
}

.source-container {
	display: flex;
	align-items: center;
	gap: 8px;

}

/* Main Image */
.main-image {
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

/* Source */
.source-logo {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
	width: 24px;
	height: 24px;
}

.source-logo:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}