:root {
	/* Colors */
	--background-color: #f9f9f9;

	--entry-container-color: #b7b7b7;
	--entry-container-background-color: white;

	--main-image-container-color: black;
	--main-image-container-background-color: black;

	--entry-title-color: black;
	--entry-title-hover-color: #e66a00;
	--wikipedia-link-color: #e66a00;
	--wikipedia-link-hover-color: #e66a00;
	--creation-date-color: #3399ff;
	--prompt-color: black;
	--parameters-border-color: black;
	--paramName-color: #e66a00;
	--paramValue-color: #3399ff;
}

body {
	background-color: var(--background-color);
}

/*************** App Component ********************************/
.entry-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 6fr;
	border: 2px solid var(--entry-container-color);
	border-radius: 5px;
	margin-bottom: 0.5rem;
	background-color: var(--entry-container-background-color);
}

.source-container {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 8px;
}

.main-image-container {
	border: 1px solid var(--main-image-container-color);
	background-color: var(--main-image-container-background-color);
	display: inline-flex;
	justify-content: center;
	padding: 0;
	width: auto;
	height: auto;
}

/* Entry Main Image */
.main-image {
	padding: 5px;
	height: auto;
}

/* Entry Source */
.source-logo {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
	width: 24px;
	height: 24px;
}

.source-logo:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.source {
	font-family: "Oranienbaum", sans-serif;
}

/* Entry Wikipedia Link */
.wikipedia-link {
	text-decoration: underline;
	color: var(--wikipedia-link-color);
}

.wikipedia-link:hover {
	color: var(--wikipedia-link-hover-color);
	text-decoration: none;
}

/* Entry Title */
.entry-title {
	font-family: "Playfair Display", sans-serif;
	margin-bottom: 0;
	margin-top: 0.3rem;
	display: inline;
	/* Color inherited from .wikipedia-link */
	/* To keep the underline orange we override here */
	color: var(--entry-title-color);
}

.entry-title:hover {
	color: var(--entry-title-hover-color);
}

/* Entry Creation Date */
.creation-date {
	font-family: "Aldrich", sans-serif;
	font-size: 10px;
	margin-top: 0;
	color: var(--creation-date-color);
}

/* Entry Prompt */
.prompt {
	font-family: "Roboto", sans-serif;
	color: var(--prompt-color);
}

/* Entry Parameters */
.parameters {
	font-family: "Source Code Pro", sans-serif;
	display: grid;
	border: 1px dotted var(--parameters-border-color);
}

.paramSegment {
	padding: 2.5px;
}

.paramValuePair {
	display: grid;
	grid-template-columns: 1fr;
}

.paramName {
	color: var(--paramName-color);
}

.paramValue {
	color: var(--paramValue-color);
	margin-left: -2.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 3px;
	margin-right: 2px;
}

/* Responsiveness to Screen Size*/
/********************************/
/* Layouts for 1850px width */
@media only screen and (min-width: 1850px) {
	.entry-container {
		width: 90%;
		gap: 1rem;
	}

	.main-image-container {
		margin-top: 1rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
		margin-right: 1rem;
		border-radius: 5px;	
	}

	.main-image {
		width: 200px;
	}

	.parameters {
		font-size: 12px;
		grid-template-columns: 1fr 2fr 1fr 0.5fr 1fr 1fr; 
		width: 50%;
	}
}

/* Layouts for 1849px width and below */
@media only screen and (min-width: 963px) and (max-width: 1849px) {
	.entry-container {
		width: 95%;
		gap: 0.1rem;
	}

	.main-image-container {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
		border-radius: 2.5px;
	}

	.main-image {
		width: 300px;
	}

	.parameters {
		font-size: 11px;
		grid-template-columns: 1fr 1.2fr 1fr 2fr;
		width: 80%;
	}
}

@media only screen and (min-width: 639px) and (max-width: 962px) {
	.entry-container {
		width: 99%;
		gap: 0.1rem;
	}

	.main-image-container {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
		border-radius: 2.5px;		
	}

	.main-image {
		width: 200px;
		height: auto;
	}

	.source-logo {
		width: 12px;
		height: 12px;
	}

	.source {
		font-size: 10px;
	}

	.entry-title {
		font-size: 12px;
	}

	.creation-date {
		font-size: 7px;
	}

	.prompt {
		font-size: 9px;
	}

	.parameters {
		font-size: 8px;
		grid-template-columns: 1.1fr 1.1fr;
		width: 50%;
		margin-bottom: 0.2rem;
	}
}

@media only screen and (min-width: 1px) and (max-width: 638px) {
	.entry-container {
		width: 99%;
		gap: 0.1rem;
	}

	.main-image-container {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
		border-radius: 2.5px;		
	}

	.main-image {
		width: 150px;
		height: auto;
	}

	.source-container {
		margin-top: 0.5rem;

	}

	.source-logo {
		width: 12px;
		height: 12px;
	}

	.source {
		font-size: 10px;
	}

	.entry-title {
		font-size: 12px;
	}

	.creation-date {
		font-size: 7px;
	}

	.prompt {
		font-size: 8px;
	}

	.parameters {
		font-size: 7px;
		grid-template-columns: 1fr 0.8fr;
		width: 70%;
		margin-bottom: 0.5rem;
	}
}

/*************** Spinner Component ********************************/
/* Ensure the parent div takes up the full viewport */
.spinner-container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: top;      /* Center vertically */
  height: 100vh;            /* Full viewport height */
  margin-top: 170px;
}

.spinner {
  border: 16px solid #e2e2e2; /* Light grey */
  border-top: 16px solid #2693ff; /* Blue */
  border-bottom: 16px solid #ffb373; /* Orange */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  
  /* Standard animation */
  animation: spin 2s linear infinite;
  
  /* Safari and older browser prefixes */
  -webkit-animation: spin 2s linear infinite; /* Safari */
  -moz-animation: spin 2s linear infinite; /* Firefox */
  -o-animation: spin 2s linear infinite; /* Opera */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Webkit (Safari) and Mozilla (Firefox) prefixes for keyframes animation */
@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*************** SearchForm Component ********************************/
/* Center the form using Flexbox */
.search-form-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.search-input {
  width: 150px;
  height: 15px;
  padding: 5px 5px;
  margin: 5px 0;
  margin-left: 3px;
  border-radius: 5px;
  color: #535353;
  border: 1px solid #ccc; /* Set a border to avoid disappearing border */
  outline: none; /* Remove default outline on focus */
  transition: width 0.4s ease-in-out; /* Expand when focused */
}

.search-input:focus {
  border: 1.3px solid #ffb373; /* Your custom focus border */
  outline: none; /* Ensure no outline appears when focused */
  width: 250px;
}

.search-input::placeholder {
  color: #aaa; /* Example: light gray color for the placeholder text */
  font-style: italic; /* Optional: you can also style it with italic or other styles */
}

.search-label {
  color: #2693ff;
}

.search-button {
  margin-left: 3px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  background-color: #3399ff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 12px;
  transition-duration: 0.3s; /* For hover transition */
}

/* Hover effect for button */
.search-button:hover {
  background-color: #ffb373;
  color: black;
  border: 2px solid #ffb373;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Style for the button when it's disabled */
.search-button:disabled {
  opacity: 0.6; /* Dim the button */
  cursor: not-allowed; /* Change the cursor to indicate it's disabled */
  background-color: #3399ff;
  border-color: white;
}